.container{
    height: min-50vh;
    width: 100%;
    background: linear-gradient(135deg, #0071f3, #1474d3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 50em;
    width: auto;
}